<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.library.mapper.BookMapper">
    <resultMap id="BookMap" type="book">
        <id column="book_id" property="bookId"/>
        <result property="isbn" column="isbn"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="publisher" column="publisher"/>
        <result property="publicationYear" column="publication_year"/>
        <result property="category" column="category"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="availableQuantity" column="available_quantity"/>
        <result property="location" column="location"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>



    <insert id="saveBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into book (isbn, title, author, publisher, publication_year,
        category, total_quantity, available_quantity, location, created_at)
        values(
        #{Book.isbn},
        #{Book.title},
        #{Book.author},
        #{Book.publisher},
        #{Book.publicationYear},
        #{Book.category},
        #{Book.totalQuantity},
        #{Book.availableQuantity},
        #{Book.location},
        now()
        )
    </insert>
    
    <select id="getAllBooks" resultMap="BookMap">
        select * from book
        <where>
            <if test="keyword != null and keyword != ''">
                and (title like concat('%', #{keyword}, '%')) or author = #{keyword}
            </if>
            <if test="category != null and category != ''">
                and category = #{category}
            </if>
        </where>
    </select>



    <update id="updateBook">
        UPDATE book
        SET
        title = #{book.title},
        author = #{book.author},
        publisher = #{book.publisher},
        publicationYear = #{book.publicationYear},
        category = #{book.category},
        totalQuantity = #{book.totalQuantity},
        location = #{book.location}
        WHERE bookId = #{book.bookId}
    </update>

    <delete id="deleteBook">
        DELETE FROM book WHERE book_id = #{bookId}
    </delete>


    <select id="findByBookId" parameterType="long" resultMap="BookMap">
        SELECT * from book where book_id = #{bookId}
    </select>



</mapper>