<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.library_mybatis.mapper.LoanMapper">
    <resultMap id="LoanDetailMap" type="Loan">
        <id property="loanId" column="loan_id"/>
        <result property="loanDate" column="loan_date"/>
        <result property="dueDate" column="due_date"/>
        <result property="returnDate" column="return_date"/>
        <result property="status" column="status"/>
        <result property="fineAmount" column="fine_amount"/>
        <result property="createdAt" column="created_at"/>

        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="email" column="email"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="address" column="address"/>
            <result property="memberType" column="member_type"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="update_at"/>
        </association>

        <association property="book" javaType="Book">
            <id property="bookId" column="book_id"/>
            <result property="isbn" column="isbn"/>
            <result property="title" column="title"/>
            <result property="author" column="author"/>
            <result property="publisher" column="publisher"/>
            <result property="publicationYear" column="publication_year"/>
            <result property="category" column="category"/>
            <result property="totalQuantity" column="total_quantity"/>
            <result property="availableQuantity" column="available_quantity"/>
            <result property="location" column="location"/>
            <result property="createdAt" column="created_at"/>
        </association>
    </resultMap>

    <insert id="saveLoan" useGeneratedKeys="true" keyProperty="loanId">
        insert into loan ()
    </insert>

</mapper>