<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.library.mapper.MemberMapper">

    <resultMap id="MemberMap" type="Member">
        <id property="id" column="member_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="memberType" column="member_type"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="update_at"/>
    </resultMap>
    
    <select id="getMemberByEmail" resultMap="MemberMap">
        select member_id, email, password, name, phone, address, member_type, created_at, update_at
        from member
        where email = #{email}
    </select>

    <insert id="registerMember" useGeneratedKeys="true" keyProperty="id">
        insert into member (email, password, name, phone, address, member_type, created_at)
        values (
        #{memberDto.email},
        #{memberDto.password},
        #{memberDto.name},
        #{memberDto.phone},
        #{memberDto.address},
        #{memberDto.memberType},
        now()
        )
    </insert>

    <select id="getAllMember" resultMap="MemberMap">
        select member_id, email, name, member_type, created_at from member
        limit #{limit} offset #{offset}
    </select>



</mapper>