<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.library.mapper.ReservationMapper">
    <resultMap id="ReservationDetail" type="reservation">
        <id property="reservationId" column="reservation_id"/>
        <result property="reservationDate" column="reservation_date"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="status" column="status"/>
        <result property="queuePosition" column="queue_position"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="email" column="email"/>
            <result property="name" column="name"/>
        </association>

        <association property="book" javaType="Book">
            <id property="bookId" column="book_id"/>
            <result property="title" column="title"/>
            <result property="totalQuantity" column="total_quantity"/>
            <result property="availableQuantity" column="available_quantity"/>
        </association>
    </resultMap>
</mapper>